body {
   font-family: sans-serif;
   margin: 0;
   background-color: #f6f6f6;
   color: #252525;
}

/* nav top window */

.perso {
    position: absolute;
    right: 1em;
  }
.perso ul{
  margin: 0;
  }
.perso li {
      list-style-type: none;
      line-height: 1.125em;
      float: left;
      margin-left: 0.75em;
      margin-top: 0.5em;
      font-size: 0.75em;
  }
.perso a {
    color: #0645ad;
    text-decoration: none;
    }
.perso a:hover {
  text-decoration: underline;
  }


.off {
  color: #707070;
  width: 100px;
  text-align: right;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url('user-icon.png');
  }
.selected {
    color: #333;
    background-color: #fff;
    position: relative;
    top: 1px;
  }



.head {
  background-color: #fff;
  height: 80px;
}
.right{
  position: absolute;
  padding-bottom: 0;
  font-size: 0.8em;
  right: 0;
  top: 3.65em;
  background-image: linear-gradient(#fff,#e8f2f8);
}
.left {
  font-size: 0.8em;
  position: absolute;
  top: 3.65em;
  left: 13.6em;
  background-image: linear-gradient(#fff,#e8f2f8);
}
.panel {
  width: 13%;
  background-color: #f6f6f6;
  margin: 0;
}

div.left ul {
  margin: 0;
  padding: 0;
  }

div.left li {
    list-style-type: none;
    display: block;
    float: left;
    height: 1.8em;
    border-left: solid #a7d7f9 1px;
    padding: 5px 5px 3px 3px;
}

.left li:last-child {
  border-right: solid #a7d7f9 1px;
}

.left a {
  text-decoration: none;
  color: #0645ad;
  position: relative;
  top: 5px;
}
.left a:hover {
  text-decoration: underline;
  }
div.right li {
  clear: right;
  display: block;
  float: left;
  padding: 5px;
  border-left: solid #a7d7f9 1px;
}
.right a {
  color: #0645ad;
  text-decoration: none;
  }
.right a:hover {
  text-decoration: underline;
  }

div.right ul {
  list-style-type: none;
  margin: 5px 0px 0px 0px;
  padding: 0;
}
.right li:last-child {
  height: 16px;
}
.right input{
    background-image: url('search.png');
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-position: right;
    border: thin solid  #e5e5e5;
    height:12px;
    position: relative;
    bottom: 7px;
    padding:.4em 0 .4em .6em;
    width:275px;
  }
#rechercher{
  font-size: 1.1em;
  }

  /* nav left window */

.logo {
  display: block;
  width: 176px;
  text-align: center;
  height: 160px;
  text-decoration: none;
  background-image: linear-gradient(#fff,#f6f6f6);
}

hr {
    margin: 0.2em;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}
.panel {
  position: relative;
  bottom: 75px;
  right: 2px;
}
.panel ul {
  position: relative;
  right: 1em;
  margin: 0;
}
.panel li{
  list-style-type: none;
  line-height: 1.125em;
}

.list img {
  position: relative;
  right: 15px;
  vertical-align: bottom;
}
.list dt{
    color: #4d4d4d;
    font-size: 0.75em;
    font-weight: normal;
    margin: 0;
    padding: 0.25em 0 0 0.25em;
    }

.panel dl {
  padding-left: 2em;
  padding-bottom: 5px;
  margin: auto;
  }
.panel dd {
  position: relative;
  right: 1.5em;
  padding: 0.1em;
}
.list a {
  color: #0645ad;
  text-decoration: none;
  font-size: 0.75em;
  font-weight: normal;
  margin: 0;
  padding: 0.25em 0 0.25em 0.25em;
  }
  .list a:hover {
    text-decoration: underline;
    }
  .panel .list:last-child dt {
    background-image: url('wheel.png');
    background-repeat: no-repeat;
    background-position: 120px;
    padding-right: 15px;
  }

  /* content window */

.content {
  width: 87%;
  float: right;
  position: relative;
  top: 78px;
  border: solid #a7d7f9 1px;
  background-color: #fff;
}

.content h1 {
  font-size: 1.4em;
  border-bottom: thin solid #ccc;
  width: 96%;
  margin: auto;
  padding-top: 25px;
  font-weight: 400;
}
.content a {
  color: #0645ad;
  text-decoration: none;
}
.content a:hover {
  color: #0645ad;
  text-decoration: underline;
}
span {
  vertical-align: super;
  font-size: .7em;
}
.cfirst {
  width: 68%;
  float: left;
  font-size: 0.9em;
  color: #252525;
  margin: 0.5em 1.5em;
  line-height: 1.5em;
}

.infobox {
  border: thin solid #cdcdcd;
  float: right;
  width: 26%;
  position: relative;
  right: 25px;
  top: 22px;
  background-color: #f6f6f6;
}
.heading {
  background-color: #7da7d9;
  text-align: center;
  width: 97%;
  height: 2.5em;
  margin: auto;
  position: relative;
  bottom: 12px;
  background-image: url(artist.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 40px;
}
.heading p {
  font-size: 1.1em;
  font-weight: bold;
  padding-top: 0.5em;
}
.uk {
  padding-left: 40px;
  background-image: url(uk.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35px;
}

.work {
  background-color: #7da7d9;
  text-align: center;
  width: 97%;
  height: 1.4em;
  margin: auto;
}
.work p {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 0.2em;
}
.infobox img {
  width: 85%;
  position: relative;
  left: 25px;
}
.infobox .legend {
    font-size: 0.7em;
    text-align: center;
    margin: 15px 0 8px 0;
}
.infobox table {
  margin: 0 5px;
  font-size: 0.8em;
  line-height: 1.4em;
}
.infobox th {
  vertical-align: super;
  text-align: left;
  padding-right: 10px;
  width: 8em;
}
.infobox td {
  vertical-align: super;
}
.infobox ul {
  margin-top: 12px;
  font-style: italic;
  font-size: 0.8em;
}
.infobox .option {
  border-top: solid 1px #7da7d9;
  font-size: 0.6em;
  text-align: left;
  margin: 5px;
  padding-top: 5px;
}

.summary {
  border: thin solid #cdcdcd;
  float: left;
  line-height: 1.7em;
  font-size: 0.8em;
  width: 24%;
  margin-left: 1.8em;
  background-color: #f6f6f6;
}
.summary p {
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}
.summary ol {
  text-align: left;
  color: #0645ad;
  margin-bottom: 10px;
  margin-top: 0;
  padding-left: 25px;
}

.biotitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 52px;
  right: 535px;
}
.biotitle h2 {
  clear: left;
  width: 68%;
  text-align: left;
  font-size: 1.4em;
  border-bottom: thin solid #ccc;
  padding-top: 25px;
  font-weight: 400;
  margin-left: 1em;
}
.bio1 {
  clear: left;
  width: 70%;
  font-size: 0.9em;
  color: #252525;
  line-height: 1.5em;
  margin: 0 1.5em;
}
 .bio2 {
  clear: left;
  width: 74%;
  font-size: 0.9em;
  color: #252525;
  line-height: 1.45em;
  margin: 0.5em 1.5em;
}
.bio3 {
 clear: both;
 font-size: 0.9em;
 color: #252525;
 line-height: 1.5em;
 margin: 0.5em 1.5em;
}

.example {
  float: right;
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  text-align: center;
  width: 222px;
  margin: 0 25px;
  position: relative;
  bottom: 25px;
}
.example p {
  font-size: 0.8em;
  text-align: left;
  color: #252525;
  margin: 0;
}

.techtitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 48px;
  right: 865px;
}
.techtitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin solid #ccc;
  font-weight: 400;
  margin-left: 1em;
}

.tech {
  font-size: 0.9em;
  color: #252525;
  line-height: 1.5em;
  margin: 0.5em 1.5em;
}

.pptitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 448px;
  right: 440px;
}
.pptitle h2 {
  width: 75%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin solid #ccc;
  font-weight: 400;
  margin-left: 1em;
}

.pp {
  width: 75%;
  font-size: 0.9em;
  color: #252525;
  line-height: 1.5em;
  margin: 0.5em 0;
  list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%225%22%20height%3D%2213%22%3E%0A%3Ccircle%20cx%3D%222.5%22%20cy%3D%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}
.pp2 {
  clear: both;
  width: 96%;
  font-size: 0.9em;
  color: #252525;
  line-height: 1.5em;
  position: relative;
  bottom: 15px;
  list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%225%22%20height%3D%2213%22%3E%0A%3Ccircle%20cx%3D%222.5%22%20cy%3D%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}
.pp2 p {
  margin: 0 1.2em;
}

.example2 {
  clear: both;
  float: right;
  border: 1px solid #ccc;
  padding: 3px;
  background-color: #f9f9f9;
  text-align: center;
  width: 222px;
  margin: 15px 25px;
  position: relative;
  bottom: 25px;
}
.example2 p {
  font-size: 0.8em;
  text-align: left;
  color: #252525;
  margin: 0;
}

.gallerytitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 48px;
  right: 665px;
}
.gallerytitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin dotted #ccc;
  font-weight: 400;
  margin-left: 1em;
}
.galexample p {
  text-align: left;
  font-size: 0.8em;
}
.galexample img {
  width: 100px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 35px 20px;
}
.galexample {
  width: 150px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  left: 190px;
}
.gallery p:first-child {
  font-size: 0.9em;
  color: #252525;
  line-height: 1.5em;
  margin: 1.2em;
}
.galexample p {
  vertical-align: bottom;
}

.banksytitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 48px;
  right: 815px;
}
.banksytitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin solid #ccc;
  font-weight: 400;
  margin-left: 1em;
}
.banksy p:first-child {
  font-weight: bold;
  margin-left: 1.2em;
  color: #252525;
}

.banksy {
  font-size: 0.9em;
  color: #252525;
  line-height: 1.5em;
  list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%225%22%20height%3D%2213%22%3E%0A%3Ccircle%20cx%3D%222.5%22%20cy%3D%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
}

.notetitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 48px;
  right: 790px;
}
.notetitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin solid #ccc;
  font-weight: 400;
  margin-left: 1em;
}
.note p {
  font-weight: bold;
  margin-left: 1.2em;
  color: #252525;
}
.note ol {
  color: #252525;
  font-size: 0.75em;
  line-height: 1.5em;
}

.ref {
  -moz-column-count: 2;
  -moz-column-gap: 45px;
  width: 90%;
}

.annexestitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 48px;
  right: 890px;
}
.annexestitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin solid #ccc;
  font-weight: 400;
  margin: 1em 1em;
}

.biblio p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 42px;
  right: 685px;
}
.biblio h2 {
  width: 68%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin dotted #ccc;
  font-weight: bold;
  margin-left: 1em;
}

.biblio {
  color: #252525;
  list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%225%22%20height%3D%2213%22%3E%0A%3Ccircle%20cx%3D%222.5%22%20cy%3D%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  font-size: 0.9em;
}
.box{
  float: right;
  margin-right: 30px;
  position: relative;
  bottom: 115px;
  font-size: 0.9em;
  text-align: center;
  width: 300px;
  line-height: 0.8em;
  border: thin solid #ccc;
  background-color: #f9f9f9;
}
.box img {
  position: relative;
  right: 10px;
  bottom: 5px;
  vertical-align: middle;
}
.filmo {
  color: #252525;
  list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%225%22%20height%3D%2213%22%3E%0A%3Ccircle%20cx%3D%222.5%22%20cy%3D%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  font-size: 0.9em;
  margin-left: 1.2em;
}
.filmo p {
  font-weight: bold;
}
.filmotitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 48px;
  right: 500px;
}
.filmotitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin dotted #ccc;
  font-weight: bold;
  margin-left: 1em;
}

.cotitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 46px;
  right: 790px;
}
.cotitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin dotted #ccc;
  font-weight: bold;
  margin-left: 1em;
}

.co {
  color: #252525;
  list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%225%22%20height%3D%2213%22%3E%0A%3Ccircle%20cx%3D%222.5%22%20cy%3D%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  font-size: 0.9em;
  line-height: 1.5em;
}

.linktitle p {
  font-size: 0.8em;
  float: right;
  position: relative;
  bottom: 46px;
  right: 820px;
}
.linktitle h2 {
  width: 96%;
  text-align: left;
  font-size: 1.1em;
  border-bottom: thin dotted #ccc;
  font-weight: bold;
  margin-left: 1em;
}

.link {
  color: #252525;
  list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%225%22%20height%3D%2213%22%3E%0A%3Ccircle%20cx%3D%222.5%22%20cy%3D%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
  font-size: 0.9em;
  line-height: 1.5em;
}

.lastbox1{
  font-size: 1em;
  margin: 15px;
  color: #252525;
  font-weight: bold;
  text-align: center;
  border: thin solid #ccc;
  background-color: #f9f9f9;
}
.lastbox1 img {
  height: 20px;
  vertical-align: middle;
  padding: 0 10px;
}
.lastbox2{
  font-size: 0.9em;
  padding: 5px;
  margin: 15px;
  line-height: 0.5em;
  text-align: left;
  border: thin solid #ccc;
  background-color: #f9f9f9;
}

footer {
  clear: both;
  position: absolute;
  font-size: 0.7em;
  color: #252525;
  margin-left: 15px;
  margin-right: 15px;
}
footer li {
  display: inline-block;
  list-style-type: none;
  margin: 5px;
}
footer ul {
  position: relative;
  right: 45px;
  margin-bottom: 50px;
}
button {
  border: none;
  background: none;
}
footer li:last-child{
  position: absolute;
  right: 25px;
}
